@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');
@import 'typographyspacing';
@import './reacttransitions.scss';



  body{
    max-height: 100vh;
    overflow: hidden;
  }

  .maincontainer{
    height: 100vh;
    width: 100vh;
  }
  .App{
    height: 100vh;
    box-sizing: border-box;

  }

  
.article{
 position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: url(../img/jpg/10.jpg) no-repeat left center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &__container{
    padding-top:$xlargeSpace;
    padding-left: 240px;
    overflow: hidden;
    
  }
  &__overflowcontainer{
    overflow: hidden;
  }
  &__text{
    transform: translateX(-200px);
    opacity: 0;
    transition:  transform 700ms ease-out, opacity 700ms ease-out
  }
  &__header{
    width: 600px;
    margin-bottom: $largeSpace;
    
  }
  &__paragraph{
    width: 700px;
  }
  &__stats{
    margin-top: $smallSpace;
  }
  &__statsSet{
    margin: $xsmallSpace 0;
  }
}
.menu{
  z-index: 2;
  align-self: center;
  display: inline-block;
  width: 200px;
  height: 95%;
  border-right: 1px solid $primaryShaded;
  position: absolute;
  left: 0;
}

/*REACT GROUP*/
.fadedown-enter{
  transform: translateY(100%);
}

.fadedown-enter.fadedown-enter-active{
  transform: translateY(0);

  transition: transform 2500ms cubic-bezier(1,.05,.25,1)
}

.fadedown-exit{
  transform: translateY(0);

}


.fadedown-exit.fadedown-exit-active{
  transform: translateY(-100%);
  transition:  transform 2500ms cubic-bezier(1,.05,.25,1)
}
.fadedown-exit-done{
  transform: translateY(-100%);
}

/*ALTERNATIVE REACT GROUP*/
.fadeup-enter{
  transform: translateY(-100%);
}

.fadeup-enter.fadeup-enter-active{
  transform: translateY(0);

  transition: transform 2500ms cubic-bezier(1,.05,.25,1)
}

.fadeup-exit{
  transform: translateY(0);

}

.fadeup-exit.fadeup-exit-active{
  transform: translateY(100%);
  transition:  transform 2500ms cubic-bezier(1,.05,.25,1)
}
.fadeup-exit-done{
  transform: translateY(100%);
}
.fade-appear{
  transform: translateX(-200px);
  opacity: 0;
}
.fade-appear.fade-appear-active{
  transform: translateX(0);
  opacity: 1;
  transition:  transform 700ms ease-out, opacity 700ms ease-out
}
.fade-enter-done{
  transform: translateX(0);
  opacity: 1
}