@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');
@import 'typographyspacing';
@import 'reacttransitions.scss';



  body{
    max-height: 100vh;
    overflow: hidden;
  }

  .maincontainer{
    height: 100vh;
    width: 100vh;
  }
  .App{
    height: 100vh;
    box-sizing: border-box;

  }

  
.article{
 position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: url(../img/jpg/10.jpg) no-repeat left center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &__container{
    padding-top:$xlargeSpace;
    padding-left: 240px;
    overflow: hidden;
    
  }
  &__overflowcontainer{
    overflow: hidden;
  }
  &__text{
    transform: translateX(-200px);
    opacity: 0;
    transition:  transform 700ms ease-out, opacity 700ms ease-out
  }
  &__header{
    width: 600px;
    margin-bottom: $largeSpace;
    
  }
  &__paragraph{
    width: 700px;
  }
  &__stats{
    margin-top: $smallSpace;
  }
  &__statsSet{
    margin: $xsmallSpace 0;
  }
}
.menu{
  z-index: 2;
  align-self: center;
  display: inline-block;
  width: 200px;
  height: 95%;
  border-right: 1px solid $primaryShaded;
  position: absolute;
  left: 0;
}

