@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');
@import 'typographyspacing';
@import './reacttransitions.scss';



  body{
    max-height: 100vh;
    overflow: hidden;
  }

  .maincontainer{
    height: 100vh;
    width: 100vh;
  }
  .App{
    height: 100vh;
    box-sizing: border-box;

  }

  
.article{
 position: absolute;
  display: block;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &__container{
    padding-top:$xlargeSpace;
    padding-left: 240px;
    overflow: hidden;
    width: 900px;
    
  }

  &--right{
    float: right;
    text-align: right;
    padding-right: $largeSpace;
    padding-left: 0;
  }
  &__overflowcontainer{
    overflow: hidden;
    width: 100%;
  }
  &__text{
    transform: translateX(-200px);
    opacity: 0;
    transition:  transform 700ms ease-out, opacity 700ms ease-out
  }
  &__header{
    
    margin-bottom: $largeSpace;
    
  }
  &__paragraph{
   width: 700px;
  }
  &__stats{
    margin-top: $smallSpace;
  }
  &__statsSet{
    margin: $xsmallSpace 0;
  }
}
.menu{
  z-index: 2;
  align-self: center;
  display: inline-block;
  width: 200px;
  height: 95%;
  border-right: 1px solid $primaryShaded;
  position: absolute;
  left: 0;
}

.loader{
  position: absolute;
  z-index: 1;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  transition: opacity 1000ms ease-out;
  &__wheel{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding-bottom: $smallSpace;
  }
  &__exit{
    opacity: 0;
    transition: opacity 500ms ease-out;
  }
  &--none{
    opacity: 0;
  }
}

/*REACT GROUP*/
.fadedown-enter{
  transform: translateY(100%);
}

.fadedown-enter.fadedown-enter-active{
  transform: translateY(0);

  transition: transform 2500ms cubic-bezier(1,.05,.25,1)
}

.fadedown-exit{
  transform: translateY(0);

}


.fadedown-exit.fadedown-exit-active{
  transform: translateY(-100%);
  transition:  transform 2500ms cubic-bezier(1,.05,.25,1)
}
.fadedown-exit-done{
  transform: translateY(-100%);
}

/*ALTERNATIVE REACT GROUP*/
.fadeup-enter{
  transform: translateY(-100%);
}

.fadeup-enter.fadeup-enter-active{
  transform: translateY(0);

  transition: transform 2500ms cubic-bezier(1,.05,.25,1)
}

.fadeup-exit{
  transform: translateY(0);

}

.fadeup-exit.fadeup-exit-active{
  transform: translateY(100%);
  transition:  transform 2500ms cubic-bezier(1,.05,.25,1)
}
.fadeup-exit-done{
  transform: translateY(100%);
}
.fade-appear{
  transform: translateX(-200px);
  opacity: 0;
}
.fade-appear.fade-appear-active{
  transform: translateX(0);
  opacity: 1;
  transition:  transform 700ms ease-out, opacity 700ms ease-out
}
.fade-enter-done{
  transform: translateX(0);
  opacity: 1
}
.loader-appear{
  opacity: 0;
}
.loader-appear.loader-appear-active{
  opacity: 1;
  transition: opacity 500ms ease-out
}
.loader-enter-done{
  opacity: 1
}
.loader-exit{

}