.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-enter{

  opacity: 0;
}
/*koniec*/
.fade-enter.fade-enter-active{

  opacity: 1;
  /*jezeli chcemy miedzy enterem a exitem zrobic timeout, musimy dodac drugi parametr do transition 'property/czas/styl/timeout' wazne zeby ustawic to tak zeby suma byla zgodna z timeoutem podanym jako property do csstransition group
  np 2500 czas 2500 timeout i 5000 w reactie wtedy musi byc*/
  transition: transform 2500ms cubic-bezier(1,.05,.25,1) 2500ms, opacity 2500ms ease-out 2500ms;
}
/*on component unmount*/
.fade-exit{

  opacity: 1;

}
/*koniec przy odmontowaniu*/

.fade-exit.fade-exit-active{

  opacity: 0;
  transition:  transform 2500ms cubic-bezier(1,.05,.25,1), opacity 2500ms ease-out;
}
.fade-exit-done{
  opacity: 0;
}